h4{
	color: white;
    font-weight: 500;
}
.loan-nearly-slide-parent{
	padding-bottom: 5rem;
    background: rgb(12,53,255);
    background: linear-gradient(180deg, rgba(12,53,255,1) 0%, rgba(25,93,255,1) 30%, rgba(46,160,255,1) 56%, rgba(67,202,255,1) 82%, rgba(115,211,254,1) 100%);
}
a.nav-link {
    color: #777;
}
.loan-nearly-slide{
	min-height: 0;
}
.content-block-parents{
	height: 20rem;
}
.information-bottom-right a{
	display: block;
}
.information-bottom-right a:hover{
	opacity: 0.8;
}
.content-block:hover{
	box-shadow: 0 0 12px #5c5f63;
}
.content-block{
	cursor: pointer;
}
span.text-block{
	display: block;
}
#modalLoan_1 .modal-body{
    min-height: 28rem;
}
#myTabContent .active{
	min-height: 24rem;
	padding: .5rem;
}
.text-tab-1{
	font-size: 20px;
	color: #696969;
}
.text-tab-1-span{
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
	color: #4c4c4c;
}
.text-tab-2{
	color: #696969;
}
.text-tab-2-span{
	font-style: italic;
	font-weight: bold;
	color: #4c4c4c;
}
.text-tab-2-title{
	font-weight: bold;
	font-size: 18px;
	text-decoration: underline;
}
.block-image{
	display: flex;
}
.block-image a{
	display: block;
	margin-right: .5rem;
	width: 6rem;
    height: 4rem;
}
.block-image img{
	width: 100%;
    height: 100%;
	object-fit: cover;
	border-radius: 3px;
}

/*semantic*/
.div_drop .ui.tag.label, .div_drop .ui.tag.labels .label {
    margin-top: .5em;
    margin-left: 1em;
    position: relative;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 0 .28571429rem .28571429rem 0;
    -webkit-transition: none;
    transition: none;
}
.div_drop .ui.label:first-child {
    margin-left: 0;
}
.div_drop a.ui.label {
    cursor: pointer;
}
.div_drop .ui.label,.div_drop .ui.labels .label {
    font-size: .85714286rem;
}
.div_drop .ui.label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #e8e8e8;
    background-image: none;
    padding: .5833em .833em;
    color: rgba(0,0,0,.6);
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
}
.div_drop a {
    color: #4183c4;
    text-decoration: none;
}
.div_drop a.ui.label:hover,.div_drop a.ui.labels .label:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    background-image: none;
    color: rgba(0,0,0,.8);
}
.div_drop .ui.labels a.label:hover:before,.div_drop a.ui.label:hover:before {
    color: rgba(0,0,0,.8);
}
.div_drop .ui.tag.label:before,.div_drop .ui.tag.labels .label:before {
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(
-45deg
);
    transform: translateY(-50%) translateX(50%) rotate(
-45deg
);
    top: 50%;
    right: 100%;
    content: '';
    background-color: inherit;
    background-image: none;
    width: 1.56em;
    height: 1.56em;
    -webkit-transition: none;
    transition: none;
}
.div_drop .ui.tag.label:after,.div_drop .ui.tag.labels .label:after {
    position: absolute;
    content: '';
    top: 50%;
    left: -.25em;
    margin-top: -.25em;
    background-color: #fff!important;
    width: .5em;
    height: .5em;
    -webkit-box-shadow: 0 -1px 1px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 -1px 1px 0 rgb(0 0 0 / 30%);
    border-radius: 500rem;
}
/* end sematic*/


.title-empty-loan{
    margin: 0;
    padding: .5rem;
    background: #f9f1f1;
    padding-left: 2rem;
    border-left: 2px solid #ffa600;
    border-radius: 3px;
}