body{
    background: #f7f8fc;
    overflow-x: hidden;
}
body,ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a,a:hover{  
    text-decoration: none;
}
.responsive-header{
    display: none;
    width: 48px;
    height: 40px;
    background: white;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    padding-top: 5px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.1);
}
.responsive-header-icon i {
    font-size: 20px;
    color: #9a9696;
}

.responsive-header-icon-content{
    padding-top: 3rem;
    z-index: 12;
    display: none;
    position: fixed;
    width: 100%;
    background-color: white;
    border-top: 1px solid lightgray;
    top: 3rem;
}
.responsive-header-icon-content ul{
    box-shadow: 0px 7px 12px #989595;
}
#res_link_login{
    display: flex;
    align-items: center;
}
#res_link_login div, #res_link_login span, #res_link_login i{
    margin-right: 5px;
}
.res-block-avatar{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    line-height: 0 !important;
    overflow: hidden;
}
.res-block-avatar img{
    width: 100%;
    line-height: 0 !important;
}

.li_res_link_service, .li_res_link_login{
    position: relative;
}
.res_more_service, .res_more_login{
    position: absolute;
    left: 20%;
    top: 75%;
    min-width: 20%;
}

.responsive-header-icon-content ul li a{
    display: block;
    padding: 0 2em;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 100%;
    font-size: 18px;
    color: #666666;
}
.responsive-header-icon-content ul li a i{
    font-size: 18px;
}
.responsive-header-icon-content ul li a:hover{
    background-color: rgb(190, 192, 194);
}
.res_more_service, .res_more_login{
    display: none;
}
.res_more_login {
    top: 4rem;
    z-index: 2;
}
.header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;

    width: 85%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    z-index: 1000;
    
    border-radius: 0px 0px 2rem 2rem;
    border: 1px solid #0f65c7;
    border-top-width: 0;
    background: white;

    transition: all .4s;    
}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translate(-50%, 0%) !important;
}
.headroom--unpinned {
    transform: translate(-50% ,-100%) !important;
}
.header-top{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #EEEEEE;
}
.header-top-left a{
    color: #999999;
    padding: 0 .4rem;
    font-size: 13px;
}

.header-top-right .download-app{
    color: #0B5AC3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.header-top-right{
    display: flex;
    width: 12rem;
    justify-content: space-between;
}
.multi-language{
    position: relative;
}
.multi-language-choose{
    display: none;
    position: absolute;    

    width: 150%;
    border-left: 2px solid #098618;
    background-color: #c0f7b5;
    border-radius: 5px;
    top: 1.6rem;

    z-index: 10;
}
.multi-language-choose a{
    color: #098618;
    padding: 5px 10px;
    display: block;
    font-size: 14px;
    font-weight: 600;
}
.multi-language-choose a:hover{
    background-color: #098618;
    color: white;
}
.multi-language-select{
    height: 100%;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}
.header-buttom{
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-buttom-right{
    display: flex;
    align-items: center;
}
li.menu_service {
    position: relative;
}
.more_service{
    position: absolute;
    width: 160%;
    top: 150%;
}
.more_service a{
    padding: .8rem 1rem !important;
}
#header_logo img{
    width: 80%;
}
#icon_home i{
    color:  #0B5AC3;
}









#icon_search i{
    color: #666666;
}
#header_menu{
    display: flex;
    height: 100%;
    align-items: center;
}
.more_service{display: none;}
#header_menu a,#header_menu span{
    color: #666666;
    display: block;
    height: 100%;
    line-height: 100%;
    padding: 0 1rem;
    border-radius: 2rem;
}
#header_menu span{margin-right: .7rem;}
#header_menu a{margin-right: .7rem;}
#header_menu li{cursor: pointer;}
#link_service i{
    font-size: 12px;
}
#download_app{
    display: block;
    height: 100%;
    line-height: 100%;
    padding: .5rem .7rem;
    padding-bottom: 0;
    border-radius: 2rem;
    color: #0B5AC3;
}
#header_login{
    height: 35px;
    line-height: 100%;
    padding: 0 .9rem;
    display: flex;
    border: 1px solid #0B5AC3;
    border-radius: 2rem;
    color: #0B5AC3;
    cursor: pointer;
    margin-left: 1rem;
    align-items: center;
}
#header_login i{margin-left: 5px;}
#header_menu li:last-child > a{
    margin-right: 0;
}

.more_service,.res_more_service, .res_more_login {
    border-radius: 5px;
    overflow: hidden;
    background: white;
    border: 1px solid #2070cb;
    box-shadow: 3px 3px 4px 0px #2070cb;
}
.more_service a,.res_more_service a, .res_more_login a{
    margin: 0 !important;
    padding: .5rem .4rem;
    text-align: center;
    border-radius: 0 !important;
}
.more_service a:hover,.res_more_service a:hover, .res_more_login a:hover{
    background: #d4d4d4;
}
.banner_introduce{
    /*background: linear-gradient(180deg, #0B5AC3 0%, #3FD9F1 100%);*/
    height: 40rem;
    width: 100%;
}
.banner_introduce .for-pc,.banner_introduce .for-tablet{
    width: 100%;
    height: 100%;   
}
.for-tablet{
    display: none;
}
.banner_introduce{position: relative;}
.introduce_content{
    position: absolute;
    width: 30%;
    top: 30%;
    left: 12%;
    /* transform: translateX(-200%); */
    transition: all 1s;
}
.introduce_content h4{
    width: 70%;
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 1rem;
}
.introduce_content span{
    color: white;
    display: block;
    text-align: justify;
    width: 100%;
    font-size: 16px;
}
.introduce_footer{display: flex;
    margin-top: 2rem;
}
.create_account,.try_it_now{
    background: #FFB84E;
    border-radius: 2rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    color: black;
}
.create_account:hover,.try_it_now:hover,.register_now_btn:hover{
    color: white;
    background: #ca8a2c;
    top: 2px;
    right: 2px;
}
.introduce_footer_icon{
    margin-left: 2.2rem;
}
.introduce_footer_icon i{
    color: white;
    font-size: 30px;
    margin-right: .6rem;
    cursor: pointer;
}
.introduce_image{
    position: absolute;
    right: 20%;
    top: 30%;
    width: 50%;
}
.section_definition{
    position: relative;
    height: 40rem;
}
.definition_content{
    position: absolute;
    width: 30%;
    top: 27%;
    left: 12%;
    transition: all 1s;
    /* transform: translateX(-200%); */
}
.definition_content h4{
    width: 70%;
    color: #0B5AC3;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 1rem;
}
.definition_content .content_one{
    display: block;
    color: #0B5AC3;
    text-align: justify;
    width: 100%;
    font-size: 16px;
}
.definition_content .content_two{
    display: block;
    margin-top: 2rem;
    color: #666666;
    text-align: justify;
    width: 100%;
    font-size: 14px;
}
.definition_footer{display: flex;
    margin-top: 2rem;
}
/*.section_feature{
    height: 55rem;
    width: 100%;
}
.section_feature img{
    width: 100%;
    height: 100%;   
}*/
.border_lightblue{
    position: absolute;
    bottom: -6rem;
    right: 10%;
    width: 35rem;
    height:35rem;
    line-height: 35rem;
    border-radius: 35rem;
    box-sizing: border-box;
    text-align: center;
    
    transition: all 1s;
    /* transform: translateX(200%); */
    
}
.definition_img{
    background: rgb(112,125,223);
background: linear-gradient(180deg, rgba(112,125,223,1) 0%, rgba(107,147,232,1) 48%, rgba(104,168,240,1) 100%);
    width: 90%;
    height:90%;
    line-height: 90%;
    border-radius: 33rem;
    margin-right: 0;
}
.definition_img img{
    width: 100%;
    height: 100%;
}
.definition_img{
    margin-left: 2rem;
    margin-top: 2rem;
}
.img_feature,.img_feature_phone,.img_feature_phone_big,.img_feature_phone_small{
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 1;
}
.img_feature_phone,.img_feature_phone_big,.img_feature_phone_small{
    display: none;
}
.small_icon{
    position: absolute;
    background: linear-gradient(180deg, rgba(120, 124, 224, 0.9) 61.25%, rgba(106, 171, 243, 0) 100%);
    width: 11.5rem;
    height: 11.5rem;
    border-radius: 10rem;
    text-align: center;
    line-height: 11.5rem;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.earth{
    position: absolute;
    top: 103%;
    width: 79%;
    z-index: 3;
}
.phone{
    position: absolute;
    top: 124%;
    width: 60%;
    left: -4%;
    transition: all 1s;
    /* transform: translateX(-200%); */
    z-index: 4;
}
.salient_features{
    position: absolute;
    top: 125%;
    right: 10%;
    width: 40%;
    z-index: 5
}
.features_title{
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 30px;
    /* transform: translateX(200%); */
    transition: all 1s;
}
.salient_features ul li{
    display: flex;
    margin-bottom: 1rem;
    /* transform: translateX(200%); */
    transition: all 1s;
}
.salient_features ul li img{
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
}
.salient_features ul li span{
    font-size: 16px;
    color: white;
}
#header_login:hover{
    color: white;
    background: #0B5AC3;
}
.salient_features_footer{
    position: absolute;
    top: 212%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid #DDDDDD;
    width: 70%;
    justify-content: center;
    z-index: 4
}
.salient_features_footer ul{display: flex;
    color: white;
    padding: 1rem 0;
    width: 100%;
    padding-top: 2rem;
}
.salient_features_footer ul li{
    width: 20%;
    text-align: center;
}
.salient_features_footer ul li:last-child{
    margin-right: 0;
}
.salient_features_footer ul h4{
    margin: 0;
    font-weight: bold;
}
.secction_using{
    width: 100%;
    height: 55rem;
    margin-top: 57rem;
}
.secction_using_title{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    /* transform: translateY(-200%); */
    transition: all 1s;
}
.secction_using_title h4{
    text-align: center;
    width: 100%;
    color: #0B5AC3;
    font-weight: 600;
    font-size: 30px;
}
.tick{
    height: 2rem;
    width: 100%;
}
.secction_using_btn{
    margin-top: 2.5rem;
}
.secction_using_btn ul{
    display: flex;
    justify-content: center;
}
.secction_using_btn li a{
    padding: .5rem 3.2rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: .7rem;
    font-size: 16px;
    cursor: pointer;
}
.using_student:hover,.using_university:hover, .using_bank:hover{
    background: #0B5AC3;
    color: white;
    border: 1px solid #0B5AC3;
}
.using_student,.using_university, .using_bank{
    color: #0B5AC3;
    background: white;
    border: 1px solid #0B5AC3;
}
.using_selected{
    background: #0B5AC3;
    color: white;
    border: 1px solid #0B5AC3;
}
.secction_using_content{
    display: flex;
    padding: 0 10rem;
    margin-top: 2rem;
}
.using_content_left{
    width: 40%;
    margin-right: 2rem;
    transition: all 1s;
    /* transform: translateX(-200%); */
}
.using_content_right{
    right: 0;
    transition: all 1s;
    /* transform: translateX(200%); */
}
.left_img{
    text-align: center;
    margin-bottom: 2rem;
}
.left_content span{
    text-align: justify;
    margin-bottom: 2rem;
    display: block;
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
}
.using_content_right{
    text-align: center;
}
.using_content_right img{
    width: 100%;
}
.secction_service{
    padding-top: 6rem;
    width: 100%;
    height: 45rem;
}
.service_title{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    /* display: none; */
}
.service_title h4{
    font-weight: bold;
    color: white;
    font-size: 30px;
}
.register_now{
    width: 60%;
    margin: auto;
    /* display: none; */
}
.register_now_btn{
    background: #FFB84E;
    border-radius: 2rem;
    padding: .4rem 1rem;
    cursor: pointer;
    text-align: center;
    width: 28%;
    margin: auto;
}
.service_content ul{display: flex;
    margin: auto;
    width: 76%;
}
.service_content ul li{
    margin: auto;
}
.service_content{
    margin: 4rem 0;
    margin-top: 6rem;
    transition: all 1s;
    /* transform: translateX(-200%); */
}
.service_content_block{
    margin: 0 .4rem;
    background: white;
    width: 20rem;
    height: 17rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    padding: 0 1rem;
}
.service_content_block:hover{
    box-shadow: 0 0 12px lightgray;
}
.service_menu_title{
    background: linear-gradient(180deg, #787CE0 0%, #6AABF3 100%);
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 5rem;
    position: absolute;
    left: 50%;
    top: -17%;
    transform: translateX(-50%);
    padding-top: 5px;
}
.service_menu_title i{
    color: white;
    font-size: 30px;
}
.service_content_block p{
    margin-top: 1rem;
    font-weight: 600;
    color: #0B5AC3;
    font-size: 20px;
    margin-bottom: .5rem;
}
.service_content_block span {
    color: #666666;
    font-size: 16px;
}
.service_content_more{
    background: #0B5AC3;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: 2.4rem;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
}
.service_content_more:hover{
    background: #6ca7f2;
}
.service_content_more i{
    color: white;
}
.secction_knowledge{
    background: white;
    width: 100%;
    height: 60rem;
    position: relative;
}
.knowledge_title{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    /* display: none; */
}
.knowledge_title h4{
    text-align: center;
    width: 100%;
    color: #0B5AC3;
    font-weight: 600;
    font-size: 30px;
}
.knowledge_content{
    width: 76%;
    margin: auto;
}
.knowledge_content_block{
    background: white;
    height: 18rem;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    display: block;
    margin: 1rem .5rem;
    padding: 1rem;
    transition: all 1s;
    position: relative;
    /* transform: translateX(-500%); */
}
.knowledge_content_block:hover{
    box-shadow: 0px 0px 12px gray;
}
.knowledge_content_block img{
    width: 100%;
    height: 60%;
    border-radius: 2px;
}
.knowledge_content_block p{
    color: #0B5AC3;
    margin-top: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.knowledge_content_block span{
    position: absolute;
    bottom: 1rem;
    color: #999999;
    font-size: 12px;
}
.showmore_knowledge{
    display: block;
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
    color: #0B5AC3;
    border: 1px solid #0B5AC3;
    cursor: pointer;
    width: 9rem;
    height: 2.2rem;
    line-height: 2.2rem;
    border-radius: 2.2rem;
    text-align: center;
}
.showmore_knowledge:hover{
    background: #0B5AC3;
    color: white;
}
.back_to_top{
    position: fixed;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    right: 2%;
    bottom: 10%;
    background: white;
    box-shadow:  0 0 5px lightgray;
    z-index: 10;
    display: none;
}
.back_to_top:hover{
    background: #f6f8fb;
}
#user_logged{
    cursor: pointer;
    position: relative;
    margin-left: 1.2rem;
}
.user_logged_more{
    border-radius: 3px;
    top: 110%;
    display: none;
    position: absolute;
    width: 100%;
    border-left: 2px solid #098618;
    background-color: #c0f7b5;
}
.user_logged_more a{
    padding: .8rem 1rem;
    display: block;
    font-size: 14px;
    color: #098618;
    font-weight: bold;
}
.user_logged_more a:hover {
    background-color: #098618;
    color: white;
}
.block-avatar{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    overflow: hidden;
    margin-right: 4px;
}
.block-avatar img{
    width: 100%;
    height: 100%;
}
.user_logged_content{
    display: flex;
    align-items: center;
    height: 100%;
}
.name-user{
    max-width: 10rem;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.block_title{
    font-size: 16px;
}
.secction_using_content .left_content p{
    color: #666666;
}
.content_university, .content_bank{
    display: none;
}