.banner {
    /* min-height: 20rem; */
    height: 1260px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    text-align: center;
}

.banner .summary-title-overal {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}

.banner hr {
    background: white;
}

.content {
    padding-top: 4.4rem;
    margin-bottom: 5rem;
}
.content-title h1 {
    text-align: center;

    color: #0b5ac3;
}
.content-title h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #0b5ac3;
}
.logo-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    width: 100%;
    height: max-content;
}

.logo {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 20px;
}

.logo-title {
    font-family: 'Averta Std CY';
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}

.select {
    background: #ffffff;
    border: 1px solid #316fd3;
    box-sizing: border-box;
    border-radius: 4px;
    width: 195px;
}

.select select {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #316fd3;
    height: 100%;
    width: 85%;
}

.summary-row {
    margin-left: -7px;
    margin-right: -7px;
    display: flex;
}

.summary-container {
    padding-left: 7px;
    padding-right: 7px;
}

.summary-background {
    background-color: white;
    border-radius: 3px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-background .chart-container {
    flex: 1;
}
.summary-background .chart-container #myChart2 {
    height: 400px !important;
    width: 400px !important;
}
.summary-items {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
}

.summary-items div {
    text-align: left;
}

.summary-title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #353c45;
}

.summary-value {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 20px;
    margin-top: 0.8em;
}
.summary-bottom {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.positive {
    color: #219c73;
}

.negative {
    color: #d34545;
}

.line-blue {
    border-left: 3px solid #1851ab;
}

.line-blue .summary-value {
    color: #1851ab;
}

.line-red {
    border-left: 3px solid #e14c4c;
}

.line-red .summary-value {
    color: #e14c4c;
}

.line-green {
    border-left: 3px solid #31b98c;
}

.line-green .summary-value {
    color: #31b98c;
}

.line-orange {
    border-left: 3px solid #f8a20e;
}

.line-orange .summary-value {
    color: #f8a20e;
}

/* .dash-chart-container {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
} */

.chart-container {
    height: 450px;
}

#selected-item {
    border-bottom: 1px solid #0b5ac3;
    color: #0b5ac3;
    font-weight: bold;
}

.content-table {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    color: #222222;
}
/* .content-table th,
.content-table td {
    width: 16.66%;
} */
.content-table th {
    text-transform: uppercase;
    color: #969ba1;
    font-size: 11px;
    font-weight: 600;
}
.content-table a {
    /* display: block;
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 0.4rem 0;
    background-color: #0b5ac3;
    border: 1px solid #0b5ac3;
    border-radius: 1rem; */
}
.content-table tbody tr {
    box-shadow: 0px 7px 10px rgb(230, 230, 230);
    font-size: 14px;
    border-radius: 5px;
}
td.first {
    border-radius: 5px 0 0 5px;
}
td.blue {
    border-left: 2px solid #2daaed;
}
td.orange {
    border-left: 2px solid #ffa412;
}
td.lightblue {
    border-left: 2px solid #aac9f5;
}
.content-table tbody tr td {
    padding: 1rem 0;
    font-weight: 500;
}

.chart-container .summary-title-overal {
    color: black !important;
    font-weight: 500 !important;
}

table {
    border-collapse: separate;
    border-spacing: 0 1em;
}
.tag {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    border-radius: 4px;
    vertical-align: middle;
    width: max-content;
    margin: auto;
    padding-left: 1.4em;
    padding-right: 1.4em;
    cursor: pointer;
}

.tag-green {
    background: #31b98c;
}

.tag-orange {
    background: #f8a20e;
}

.tag-red {
    background: #e14c4c;
}

.tag-border-blue {
    background: white;
    border: 1px solid #316fd3;
    color: #316fd3 !important;
}

.tag-gardien-purple {
    background: linear-gradient(90deg, #a18aea 0%, #837dfc 64.58%);
    border-radius: 3px !important;
}

.tag-gardien-danger {
    background: linear-gradient(90deg, #f78c4e 0%, #d22a08 64.58%);
    border-radius: 3px !important;
}

.tag-gardien-warning {
    background: linear-gradient(90deg, #fbff37 0%, #ff9c0f 64.58%);
    border-radius: 3px !important;
}

.tag-gardien-blue {
    background: linear-gradient(270deg, #787ce0 0%, #6aabf3 100%);
    border-radius: 3px !important;
}

.actions a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #316fd3;
}
.footer_content {
    padding-top: 4em;
}

/*data table*/
#Table_KhoanVay_wrapper, #Table_KhoanVay_Refuse_wrapper{
    padding: 0 9rem;
}
#Table_KhoanVay_filter, #Table_KhoanVay_Refuse_filter{
    float: right;
}
#Table_KhoanVay, #Table_KhoanVay_Refuse{
    width: 100% !important;
    margin: 0;
}
.pagination{
    float:  right;
}
#myTabContent{
    margin: 1rem 0;
}
.nav-item a{
    color: black;
}

.block-image img{
    width: 10rem;
    height: 7rem;
    object-fit: cover;
    margin-right: 12px;
    border-radius: 3px;
}


/*semantic*/
.div_drop .ui.tag.label, .div_drop .ui.tag.labels .label {
    margin-top: .5em;
    margin-left: 1em;
    position: relative;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 0 .28571429rem .28571429rem 0;
    -webkit-transition: none;
    transition: none;
}
.div_drop .ui.label:first-child {
    margin-left: 0;
}
.div_drop a.ui.label {
    cursor: pointer;
}
.div_drop .ui.label,.div_drop .ui.labels .label {
    font-size: .85714286rem;
}
.div_drop .ui.label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #e8e8e8;
    background-image: none;
    padding: .5833em .833em;
    color: rgba(0,0,0,.6);
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
}
.div_drop a {
    color: #4183c4;
    text-decoration: none;
}
.div_drop a.ui.label:hover,.div_drop a.ui.labels .label:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    background-image: none;
    color: rgba(0,0,0,.8);
}
.div_drop .ui.labels a.label:hover:before,.div_drop a.ui.label:hover:before {
    color: rgba(0,0,0,.8);
}
.div_drop .ui.tag.label:before,.div_drop .ui.tag.labels .label:before {
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(
-45deg
);
    transform: translateY(-50%) translateX(50%) rotate(
-45deg
);
    top: 50%;
    right: 100%;
    content: '';
    background-color: inherit;
    background-image: none;
    width: 1.56em;
    height: 1.56em;
    -webkit-transition: none;
    transition: none;
}
.div_drop .ui.tag.label:after,.div_drop .ui.tag.labels .label:after {
    position: absolute;
    content: '';
    top: 50%;
    left: -.25em;
    margin-top: -.25em;
    background-color: #fff!important;
    width: .5em;
    height: .5em;
    -webkit-box-shadow: 0 -1px 1px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 -1px 1px 0 rgb(0 0 0 / 30%);
    border-radius: 500rem;
}
/* end sematic*/


.sample-answer{
    display: flex;
}
.block-sample-success, .block-sample-danger{
    flex: 1;
    padding: .3rem;
}
.block-sample-success p{
    margin: 0;
    padding: .4rem 1.4rem;
    background: #4bc34b;
    color: white;
    border-radius: 3px;
    margin: 3px 0;
    cursor: pointer;
}
.block-sample-danger p{
    margin: 0;
    padding: .4rem 1.4rem;
    color: white;
    border-radius: 3px;
    margin: 3px 0;
    background: #d44242;
    cursor: pointer;
}
.block-sample-success p:hover, .block-sample-danger p: hover{
    opacity: 0.8;
}
.guide{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.down-sample-answer{
    color: gray;
    cursor: pointer;
}
.sample-answer{
    display: none;
}
.feedback-content{
    min-height: 200px;
}
/*thông báo*/
.notification-error{
    z-index: 20;
    width: 50%;
    margin: auto;
}
.notification-error li span{
    padding: .5rem 1rem;
    font-weight: bold;
    margin: .5rem 0;
    display: block;
    border-radius: 3px;
    font-size: 14px;
    border-left: 2px solid orange;
}
span.error{
    background-color: antiquewhite;
    color: red;
}
span.success{
    background-color: #c0f7b5;
    color: #108a1e;
}

.rowNomalLoan{
    cursor: pointer;
}